body{
    background-color: #e5e6b5;
}
.cat{
    background-color: #5b5b46;
    margin: 0;
    color: #ffffff;
    padding: 20px;
}
.box{
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    
    line-height: 2em;
    padding: 20px 20px;
    color: #5b5b46;
  
}
.cecil{
    width: 400px;
    height: 400px;
    padding: 20px 20px;

    background-image: url(https://64.media.tumblr.com/932b80166de8165623e65837ab2e2875/tumblr_n1d606Jno11r22xuzo2_1280.jpg);
    background-position: center;
    background-size: cover;
}
.nope{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
